<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carhub Content</title>

    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/catalog.css">

</head>

<body>

<div id="root">

</div>

<script src="js/cookies.js"></script>

<script>

const app = document.getElementById('root');

const container = document.createElement('div');
container.setAttribute('class', 'container');

app.appendChild(container);

var request = new XMLHttpRequest();
var token = localStorage.getItem('access_token');
if(! token){
    location.href = '/login';
}
request.open('GET', '/auto/v1/cars?page=0&size=10&order=asc&field=name', true);
request.setRequestHeader("Authorization", "Bearer " + token);

request.onload = function () {
    // Begin accessing JSON data here
    var cars = JSON.parse(request.response);
    if (request.status >= 200 && request.status < 400) {
      cars.forEach(car => {
        const card = document.createElement('div');
        card.setAttribute('class', 'card');
        card.onclick = function() { location.href = '/car?id=' + car.id+ '&name=' + car.name; };
        container.appendChild(card);

        const h1 = document.createElement('h1');
        h1.textContent = car.name;
        card.appendChild(h1);
        });
    } else {
        location.href = '/login';
    }
}
request.send();
</script>


</body>

</html>